*{
    margin: 0;
    padding: 0;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding-top:60px;
}
.nav-bar{
    background-color:  transparent;
    backdrop-filter: blur(5px);
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: 0 1px 10px;
    top: 0;
    height: 50px;
    z-index: 999;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.page-name{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-right: 12px;
}
li{
    padding: 10px;
    font-weight: bold;
}
.first-letters{
    color:  rgb(39, 39, 211);
}
.last-letters{
    color: rgb(206, 20, 20);
}
.active-page{
    background-color: rgb(40, 40, 204);
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}
h1{
    margin: -2px;

}
a{
    text-decoration: none;
    color: white;
}
.page-logo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    z-index: 2;
}
img{
    width: 100%;
}

@view-transition{
    navigation: auto;
}

:root{
    --primary-color: #000428;
}

footer{
    background-color: #000428;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-top: 2px solid gray;
    margin-top: 10px;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.me{
    color: rgb(56, 56, 189);
    margin-left: 6px;
}